---
BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterFunction: true
  SplitEmptyRecord: false
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
...
